html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; border-radius: 0; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: "Exo 2", sans-serif; font-size: 14px; line-height: 1.4; }

.header { *zoom: 1; max-width: 1500px; margin: 0 auto 115px; background: rgba(41, 81, 137, 0.9); height: 60px; }
.header:after { content: " "; display: table; clear: both; }
.header__tools { *zoom: 1; float: right; }
.header__tools:after { content: " "; display: table; clear: both; }
.header__tools li { float: left; height: 60px; padding: 19px 30px 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border-left: 1px solid #426290; font-size: 15px; color: white; }

.catalog-link, .callback-link { position: relative; display: inline-block; padding-left: 25px; font-size: 12px; text-decoration: none; text-transform: uppercase; color: white; -moz-transition: opacity 200ms; -o-transition: opacity 200ms; -webkit-transition: opacity 200ms; transition: opacity 200ms; }
.catalog-link:before, .callback-link:before { content: ""; position: absolute; top: 3px; left: 0; background: url('../img/icons-s7ae38d05bd.png') 0 -67px no-repeat; width: 12px; height: 10px; }
.catalog-link:hover, .callback-link:hover { opacity: 0.5; }

.callback-link:before { background: url('../img/icons-s7ae38d05bd.png') 0 -45px no-repeat; width: 12px; height: 12px; }

.logo { position: relative; float: left; margin-right: 30px; width: 180px; height: 60px; background-image: -moz-linear-gradient(left, #ee6306, #e61e31); background-image: -webkit-linear-gradient(left, #ee6306, #e61e31); background-image: linear-gradient(to right, #ee6306, #e61e31); }
.logo a { position: absolute; top: -35px; left: 37px; font: 0/0 a; text-shadow: none; color: transparent; background: url('../img/icons-s7ae38d05bd.png') 0 -117px no-repeat; width: 107px; height: 73px; }

.nav { float: left; }
.nav ul { *zoom: 1; }
.nav ul:after { content: " "; display: table; clear: both; }
.nav li { float: left; margin: 0 17px; height: 60px; line-height: 60px; }
.nav li a { display: block; text-transform: uppercase; font-size: 12px; color: white; text-decoration: none; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.nav li a:hover { color: #8999b5; }
.nav li a.is-active { color: #8999b5; }

.topper { position: relative; padding-top: 37px; height: 760px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: url(../img/bg.jpg) 50% 0 no-repeat; background-size: 100% auto; }

.title { text-align: center; color: white; text-transform: uppercase; margin-bottom: 135px; }
.title > p { font-weight: 200; font-size: 36px; }
.title > h2 { font-size: 60px; letter-spacing: 10px; margin-bottom: 20px; background: -webkit-linear-gradient(#fefefe, #cbcbcb); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.title > span { font-weight: 300; font-size: 14px; }

.preview { width: 980px; margin: 0 auto; }
.preview__list { display: table; width: 100%; border-collapse: collapse; }
.preview__row { display: table-row; }
.preview__item { position: relative; display: table-cell; border: 1px solid #eaeaea; text-align: center; background: white; }
.preview__item:hover .preview__img img { opacity: 0.5; }
.preview__item:hover .preview__title { -moz-transform: translateY(-90px); -ms-transform: translateY(-90px); -webkit-transform: translateY(-90px); transform: translateY(-90px); }
.preview__item:hover .preview__descr { visibility: visible; opacity: 1; }
.preview__item:hover .preview__request { visibility: visible; opacity: 1; }
.preview__item.last { border-collapse: separate; width: 166px; background: none; background-image: -moz-linear-gradient(left, rgba(255, 102, 0, 0.95), rgba(247, 29, 46, 0.95)); background-image: -webkit-linear-gradient(left, rgba(255, 102, 0, 0.95), rgba(247, 29, 46, 0.95)); background-image: linear-gradient(to right, rgba(255, 102, 0, 0.95), rgba(247, 29, 46, 0.95)); border-right-color: #f71d2e; border-top-color: #f14417; border-bottom-color: #f14417; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 27px 15px; vertical-align: top; text-align: left; text-decoration: none; }
.preview__item.last .arr-right { margin-bottom: 20px; }
.preview__item.last > div { margin-bottom: 25px; font-size: 14px; text-transform: uppercase; color: white; }
.preview__item.last > p { color: #fab6a6; }
.preview__img { position: relative; display: block; padding-top: 20px; text-decoration: none; font-size: 0; }
.preview__title { min-height: 52px; padding: 20px 0 0; color: #1b3349; font-weight: 700; font-size: 14px; text-transform: uppercase; -moz-transition: -moz-transform 200ms; -o-transition: -o-transform 200ms; -webkit-transition: -webkit-transform 200ms; transition: transform 200ms; }
.preview__request { visibility: hidden; opacity: 0; position: absolute; bottom: 10px; left: 10px; right: 10px; height: 40px; line-height: 40px; background: #fe662a; font-size: 12px; text-transform: uppercase; text-decoration: none; color: white; -moz-transition: opacity 200ms, background 200ms; -o-transition: opacity 200ms, background 200ms; -webkit-transition: opacity 200ms, background 200ms; transition: opacity 200ms, background 200ms; }
.preview__request:hover { background: #fe5411; }

.arr-right { display: inline-block; background: url('../img/icons-s7ae38d05bd.png') 0 0 no-repeat; width: 39px; height: 35px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
