body
	font-family: 'Exo 2', sans-serif
	font-size: 14px 
	line-height: 1.4
	min-width: 980px

$orange: #fe662a
$red: #fb4218

=wrap
	width: 980px
	margin: 0 auto  
.wrap
	+wrap
	+clr
.h2
	margin-bottom: 35px
	font-size: 36px
	font-weight: 400 
	color: $orange	
.h3, h3
	margin-bottom: 20px
	font-size: 20px
	text-transform: uppercase
	color: #11314a
	font-weight: 300
.h4, h4
	margin-bottom: 20px
	font-size: 19px
	font-weight: 500
	color: #3f3f3f
	text-transform: uppercase  	

.mail
	color: $orange
	text-decoration: none
	+tr(color 200ms)
	&:hover
		color: darken($orange, 5%)
.date
	font-size: 12px
	color: #a7a7a7

.center
	text-align: center
.btn
	display: inline-block
	padding: 0 24px
	height: 50px
	background: $orange
	color: #fff
	text-transform: uppercase
	+tr(background 200ms)
	&:hover
		background: darken($orange, 5%) 

//popups
.overlay
	position: fixed
	top: 0
	bottom: 0
	right: 0
	left: 0
	padding: 50px 0 
	overflow-y: auto
	text-align: center
	z-index: 999
	i
		position: fixed
		top: 0
		bottom: 0
		right: 0
		left: 0
		background: rgba(#171717, 0.8)
	&:before
		content: ""
		display: inline-block
		width: 0
		height: 100%
		vertical-align: middle
.popup
	position: relative
	vertical-align: middle
	+box
	background: #fff 
	display: none
	box-shadow: 0 0 19px 2px #000
	&.is-open
		display: inline-block
	&.popup_feedback
		width: 350px
		padding: 40px 42px 74px
	&.popup_order
		width: 640px
		padding: 44px 44px 56px
		.btn
			width: 228px
	&.popup_vacancy
		width: 350px
		padding: 40px 42px 56px
		.btn
			font-size: 12px		
	&__close
		position: absolute
		top: -38px
		right: -38px
		+s(close)
		cursor: pointer
.form
	text-align: left
	.btn
		width: 100% 
	&__row
		margin-bottom: 15px
	&__title
		margin-bottom: 5px
		font-weight: 500
		font-size: 12px
		text-transform: uppercase
	&__bottom
		text-align: center	
	.col50
		width: 48%
		float: right
		&:first-child
			float: left	
.input
	width: 100% 		  		 		 
	height: 30px
	+box
	padding: 0 10px
	font-family: 'Exo 2', Arial, sans-serif
	font-size: 14px
	color: #000
	background: #e8e8e8  
	border: 1px solid #e8e8e8
	+transition(background 200ms, border-color 200ms)
	&:focus
		border-color: #cdcdcd
		background: #fff
	&.error
		background: #fff
		border-color: #fe2a2a
		color: #fe2a2a	 
.textarea
	+box
	width: 100%
	height: 60px
	resize: none
	padding: 5px 10px 
	border: 1px solid #e8e8e8
	background: #e8e8e8
	font-family: 'Exo 2', Arial, sans-serif
	font-size: 14px
	+transition(background 200ms, border-color 200ms) 	 
	&:focus
		border-color: #cdcdcd
		background: #fff
.help-block
	display: none
.container
	padding: 50px 0 100px 			
.sidebar
	float: left
	width: 234px
	padding-top: 60px
	&__nav
		li
			margin-bottom: 10px
			a
				font-size: 16px
				text-decoration: none
				color: #3f3f3f
				+tr(color 200ms)
				&:hover
					color: $orange
				&.is-active
					color: $orange
.breadcrumbs
	margin-bottom: 30px
	ul
		font-size: 0
		li
			display: inline-block
			margin-left: 15px
			&:first-child
				margin-left: 0
				a
					padding-left: 0
					&:before
						display: none
			a
				position: relative
				display: inline-block
				font-size: 12px
				color: #bbb
				text-decoration: none
				padding-left: 27px
				&:before
					content: ""
					position: absolute
					top: 5px
					left: 0
					+s(br-arr)
				&:hover
					text-decoration: underline	

// pagination
.pagination
	+clr
	& > ul
		float: right
		+clr
		li
			float: left
			margin-left: 13px
			a
				display: block
				text-decoration: none
				color: #3f3f3f
				+tr(color 200ms)
				&:hover
					color: $orange
				&.is-active
					color: $orange
					
.back
	position: relative
	display: inline-block						
	font-size: 12px
	color: #bbb
	text-decoration: none
	padding-left: 27px
	&:before
		content: ""
		position: absolute
		top: 5px
		left: 0
		+s(back-arr) 
	&:hover
		text-decoration: underline

// layout
.box
	+clr
	margin-left: -5%
	.col50
		float: left
		width: 45%
		margin-left: 5%

.list
	margin-bottom: 20px
	li
		position: relative
		margin-bottom: 10px
		padding-left: 30px
		color: #3f3f3f
		&:before
			content: ""
			position: absolute
			top: 7px
			left: 0
			width: 7px
			height: 7px
			background: $orange
.quotes
	position: relative
	padding-left: 42px
	+box
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		+s(quotes)
	& > p
		margin-bottom: 30px	
	&__author
		font-size: 16px
		color: #a3a3a3	    			
	&__status
		font-size: 12px
		color: #ddd
.fancybox-close
	+s(close)
.fancybox-prev
	span
		+s(prev)
.fancybox-next
	span
		+s(next)


// parthners table
.table-p
	width: 100% 
	display: table
	border-collapse: collapse
	+box
	&__row
		display: table-row
	&__td
		width: 33.333% 
		display: table-cell
		border: 1px solid #d8d8d8
		vertical-align: middle
		text-align: center 	










































































