// styles for inner pages
.article
    margin-bottom: 65px
    color: #1b3349
    & > p
        margin-bottom: 25px
        line-height: 1.6 
        span
            font-size: 16px
            font-weight: 300
            color: #bababa
    & > ul
        margin-bottom: 20px
        li
            position: relative
            margin-bottom: 10px
            padding-left: 30px
            color: #3f3f3f
            &:before
                content: ""
                position: absolute
                top: 7px
                left: 0
                width: 7px
                height: 7px
                background: $orange
    & > img
        float: left
        margin: 10px 35px 35px 0                       
        
.economy
    .h3
        text-align: center
    &__in
        +clr
        margin-left: -5%
    &__col
        float: left
        width: 45%
        margin-left: 5%
    &__img
        margin-bottom: 40px
        text-align: center

//news
.news
    margin-bottom: 25px
    &__article
        .date
            margin-bottom: 20px
    &__item
        padding: 30px 0 20px 
        border-bottom: 1px solid #e4e4e4
    &__link
        display: inline-block
        margin-bottom: 20px
        color: #4484db
        text-decoration: none
        +tr(color 200ms)
        &:hover
            color: $orange                                     
            
// vacancy
.vacancy
    & > p
        margin-bottom: 20px
    .mail
        margin-bottom: 40px                 
    &__item
        position: relative
        margin-bottom: 35px
    &__title
        position: relative
        display: inline-block
        +nosel
        color: #3f3f3f
        border-bottom: 1px dotted 
        cursor: pointer    
        &:before
            content: ""
            position: absolute
            top: 7px
            right: -25px
            +s(accordeon)
            +tr(transform 200ms)
        &:hover
            color: $orange
            &:before
                +s(accordeon-h)
        &.is-open
            color: $orange
            &:before
                +s(accordeon-h)
                +transform(rotate(180deg))
    &__content
        margin-top: 20px
        background: #f6f6f6
        +box
        padding: 50px 55px 45px
        .btn
            height: 40px
            font-size: 12px 
        
// review
.review
    margin-bottom: 25px
    &__item
        +clr
        margin-top: 45px
        padding-bottom: 25px
        border-bottom: 1px solid #e4e4e4 
        &:first-child
            margin-top: 0
    &__img
        float: left
        width: 175px
        font-size: 0
        img
            max-width: 100%
    &__content
        float: right
        width: 571px                               
                                 
// parthners
.parthners
    & > p
        color: #1b3349
        margin-bottom: 80px                                 
.catalog
    padding-top: 50px
    margin-bottom: 60px        