// styles for inner pages
.article
    margin-bottom: 65px
    color: #1b3349
    & > p
        margin-bottom: 25px
        line-height: 1.6 
        span
            font-size: 16px
            font-weight: 300
            color: #bababa
    & > ul
        margin-bottom: 20px
        li
            position: relative
            margin-bottom: 10px
            padding-left: 30px
            color: #3f3f3f
            &:before
                content: ""
                position: absolute
                top: 7px
                left: 0
                width: 7px
                height: 7px
                background: $orange
    & > img
        float: left
        margin: 10px 35px 35px 0                       
        
.economy
    .h3
        text-align: center
    &__in
        +clr
        margin-left: -5%
    &__col
        float: left
        width: 45%
        margin-left: 5%
    &__img
        margin-bottom: 40px
        text-align: center

//news
.news
    margin-bottom: 25px
    &__article
        .date
            margin-bottom: 20px
    &__item
        padding: 30px 0 20px 
        border-bottom: 1px solid #e4e4e4
    &__link
        display: inline-block
        margin-bottom: 20px
        color: #4484db
        text-decoration: none
        +tr(color 200ms)
        &:hover
            color: $orange                                     
            
// vacancy
.vacancy
    & > p
        margin-bottom: 20px
    .mail
        margin-bottom: 40px                 
    &__item
        position: relative
        margin-bottom: 35px
    &__title
        position: relative
        display: inline-block
        +nosel
        color: #3f3f3f
        border-bottom: 1px dotted 
        cursor: pointer    
        &:before
            content: ""
            position: absolute
            top: 7px
            right: -25px
            +s(accordeon)
            +tr(transform 200ms)
        &:hover
            color: $orange
            &:before
                +s(accordeon-h)
        &.is-open
            color: $orange
            &:before
                +s(accordeon-h)
                +transform(rotate(180deg))
    &__content
        margin-top: 20px
        background: #f6f6f6
        +box
        padding: 50px 55px 45px
        .btn
            height: 40px
            font-size: 12px 
        
// review
.review
    margin-bottom: 25px
    &__item
        +clr
        margin-top: 45px
        padding-bottom: 25px
        border-bottom: 1px solid #e4e4e4 
        &:first-child
            margin-top: 0
    &__img
        float: left
        width: 175px
        font-size: 0
        img
            max-width: 100%
    &__content
        float: right
        width: 571px                               
                                 
// parthners
.parthners
    & > p
        color: #1b3349
        margin-bottom: 80px                                 
.catalog
    padding-top: 50px
    margin-bottom: 60px
    
// product
.product
    +clr
    &__left
        float: left
        width: 234px
        margin-right: 20px
        text-align: center
        .btn
            height: 40px
            font-size: 12px
    &__img
        margin-bottom: 20px
    &__right
        overflow: hidden
        text-align: left
        .h3
            color: #3f3f3f!important
            text-align: left
    &__article
        p
            margin-bottom: 25px
            font-size: 14px
            color: #3f3f3f
            strong
                font-weight: 600
        img
            float: left
            margin: 0 20px 20px 0                       
    .h3
        font-weight: 400
        color: #000            
// table
.table
    width: 582px
    margin-bottom: 50px
    &__header
        position: relative
        padding: 20px 18px 10px 
        background: #f6f6f6
        box-shadow: 0 6px 12px -3px #ccc
        font-weight: 500
        font-size: 15px                 
    &__topper
        +clr
        border-bottom: 1px solid #e2e2e2
        font-size: 14px
        font-weight: 400
        margin-bottom: 8px 
        padding-bottom: 5px
    &__row
        +clr    
    &__col50
        float: left
        width: 50%
        text-align: center   
    &__col33
        float: left
        width: 33.3%
        text-align: center
.tbody
    overflow-y: auto            
    height: 295px
    +box
    padding: 0 1px 0 18px
    &__in
        width: 100% 
        & > li
            height: 37px
            line-height: 37px
            border-bottom: 1px solid #e5e5e5 
            font-size: 14px
            font-weight: 300
            color: #3f3f3f  
            &:nth-child(2n)
                background: #f6f6f6
            .table__col33
                +box
                border-left: 1px solid #e5e5e5
                &:first-child
                    border-left: none                
.tabs
    border-top: 1px solid #eaeaea       
    border-bottom: 1px solid #eaeaea
    padding: 15px
    margin-bottom: 40px
    &__list
        overflow: hidden
        margin-left: -36px
        li
            position: relative
            display: inline-block
            margin-left: 36px
            &:before
                content: ""
                position: absolute
                top: 13px
                right: -19px
                width: 3px
                height: 3px
                border-radius: 50%
                background: $orange
            &:last-child
                &:before
                    display: none    
            a
                font-size: 15px
                text-transform: uppercase
                color: #3f3f3f
                line-height: 2
                text-decoration: none
                &:hover
                    color: $orange
            &.is-active
                a
                    color: $orange
                    text-decoration: underline        
.chars
    padding: 20px 37px 
    margin-bottom: 40px
    border: 1px solid #ffeccb
    background: #fefdf0
    &__row
        +clr
    &__left
        float: left
        width: 105px 
        font-weight: 500
        font-size: 14px
    &__right
        overflow: hidden
        font-size: 14px
        
// contacts
.contacts
    +clr
    margin-bottom: 80px
    &__left
        float: left
        width: 50%
    &__right
        float: right
        width: 50%                                 
    &__row
        +clr
        margin-bottom: 25px
    &__item
        float: left
        width: 110px
        font-size: 16px
        color: #c2c2c2 
    &__value
        overflow: hidden
        font-size: 16px
        color: #3f3f3f
        a
            color: $red
            text-decoration: none
    .btn
        height: 40px
        font-size: 12px
.map
    position: relative
    height: 365px
#YMapsID
    width: 100%
    height: 100%
    overflow: hidden              

                